<h2><%= "#{@customer['first_name']} #{@customer['last_name']}" %></h2>
<ul>
  <li>Member Number: <%= @customer['member_number'] %></li>
  <li>Phone Number: <%= @customer['phone_number'] %></li>
  <li>Email Number: <%= @customer['email'] %></li>
</ul>

<h3>Equipment</h3>
<ul>
  <% @customer['bicycles'].each do |bicycle| %>
    <li>
      <%= bicycle.first %>
      <form action='/workorders/<%= "#{@customer['member_number']}/#{bicycle.first}" %>/new' method='post'>
        <button type='submit'>New Maintenance</button>
      </form>
    </li>
  <% end %>
</ul>

<h3>Work Orders</h3>
<% if @customer['workorders'] %>
  <ul>
    <% @customer['workorders'].each do |workorder_number| %>
      <li>
        <%= workorder_number %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No existing workorders.</p>
<% end %>

