<h2><%= "#{@name}" %></h2>
<ul>
  <li>Member Number: <%= params[:member_number] %></li>
  <li>Phone Number: <%= @customer[:phone_number] %></li>
  <li>Email Number: <%= @customer[:email] %></li>
</ul>

<h3>Equipment</h3>

<form action='/customers/<%= params[:member_number] %>/bicycles/new' method='get'>
  <button type='submit'>Add New Bike</button>
</form>

<% if @customer[:bicycles] %>
  <ul>
    <% @customer[:bicycles].each do |bicycle_number, bicycle| %>
      <li>
        <%= "#{bicycle[:make]} #{bicycle[:model]}" %>
        <form action='/workorders/<%= "#{params[:member_number]}/#{bicycle_number}" %>/new' method='post'>
          <button type='submit'>New Maintenance</button>
        </form>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No equipment has been added.</p>
<% end %>

<h3>Work Orders</h3>
<% if @customer['workorders'] %>
  <ul>
    <% @customer['workorders'].each do |workorder_number| %>
      <li>
        <%= workorder_number %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No existing workorders.</p>
<% end %>

