<h2>Work Order #<%= params[:workorder_number] %></h2>

<h3>Customer Info</h3>
<dl id='workorder_info'>
  <dt>First Name:<dt>
  <dd><%= @customer[:first_name] %></dd>

  <dt>Last Name:<dt>
  <dd><%= @customer[:last_name] %></dd>

  <dt>Phone Number:<dt>
  <dd><%= @customer[:phone_number] %></dd>

  <dt>Email Address:<dt>
  <dd><%= @customer[:email] %></dd>
</dl>

<button><a href='/customers/<%= @customer[:member_number] %>'>Customer Profile</a></button>

<h3>Bicycle Info</h3>
<dl id='workorder_info'>
  <dt>Serial:<dt>
  <dd><%= @bicycle[:serial] %></dd>

  <dt>Make:<dt>
  <dd><%= @bicycle[:make] %></dd>

  <dt>Model:<dt>
  <dd><%= @bicycle[:model] %></dd>

  <dt>Color:<dt>
  <dd><%= @bicycle[:color] %></dd>
</dl>

<h3>Services</h3>
<h4>Labor</h4>
<% if @workorder[:labor] %>
  <ul>
    <% @workorder[:labor].each do |labor| %>
      <li><%= labor %></li>
    <% end %>
  </ul>
<% else %>
  <p>No labor yet</p>
<% end %>

<h4>Parts</h4>
<% if @workorder[:parts] %>
  <ul>
    <% @workorder[:parts].each do |part, price| %>
      <li><%= "#{part} - $#{price}" %></li>
    <% end %>
  </ul>
<% else %>
  <p>No parts yet</p>
<% end %>

<form action='/workorders/<%= params[:workorder_number] %>/add' method='post'>
  <fieldset>
    <label for='labor'>Labor</label>
    <select name='labor' id='labor'>
      <option disabled selected>Select one</option>
      <option value='Fix Flat'>Fix Flat</option>
      <option value='Tune'>Bicycle Tune</option>
      <option value='Adjust Derailleur'>Adjust Derailleur</option>
      <option value='Adjust Brake'>Adjust Brake</option>
      <option value='Frame & Wheel Clean'>Frame & Wheel Clean</option>
      <option value='Install Chain'>Install Chain</option>
      <option value='Install Cassette/Freewheel'>Install Cassette/Freewheel</option>
      <option value='True Wheel (lateral)'>True Wheel (lateral)</option>
    </select>

    <dl>
      <dt><label for='part_name'>Part</label></dt>
      <dd><input type='text' name='part_name' id='part_name'></dd>

      <dt><label for='part_price'>Price</label></dt>
      <dd><input type='text' name='part_price' id='part_price'></dd>
    </dl>

    <button type='submit'>Add</button>
  </fieldset>
</form>